:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contrast-color: #3d464d;
}

body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    padding-top: 1rem;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

/*=================== Header rules =========================*/
.header-top {
    background-color: #6B0E8C;
    color: #E9A732;
}

.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover {
    text-decoration: underline;
}

.header-top-mail a {
    text-decoration: none;
}

.header-top-mail a:hover {
    text-decoration: underline;
}

/*=================== Header rules =========================*/

/*=================== warning =========================*/

.warning {
    background-color: var(--bg-color);
}

.purchasem {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.purchasem:hover {
    display: unset;
    overflow: visible;
}

.delivery {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.delivery:hover {
    display: unset;
    overflow: visible;
}

/*=================== warning =========================*/

/*=================== cards =========================*/

.card-img-top {
    max-width: 50%;
    max-height: 50%;
}

/*=================== cards =========================*/